<html>
<head>
    <title>Sachin blog</title>
</head>
<body>
<div>
    <h1><a href="/">Sachin Blog</a></h1>
</div>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

<div>
    <p>published: 11.08.2018, 12:14</p>
    <h2><a href="">My first post-Mission Impossible:Fallout</a></h2>
    <p>Two years after Ethan Hunt had successfully captured Solomon Lane, the remnants of the Syndicate have reformed
        into another organization called the Apostles. Under the leadership of a mysterious fundamentalist known only as
        John Lark, the organization is planning on acquiring three plutonium cores. Ethan and his team are sent to
        Berlin to intercept them, but the mission fails when Ethan saves Luther and the Apostles escape with the
        plutonium. With CIA agent August Walker joining the team, Ethan and his allies must now find the plutonium cores
        before it's too late. </p>
</div>

<div>
    <p>published: 12.08.2018, 12:14</p>
    <h2><a href="">My second post-Avengers:Infinity War</a></h2>
    <p>As the Avengers and their allies have continued to protect the world from threats too large for any one hero to
        handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is
        to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on
        all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and
        existence itself has never been more uncertain.</p>
</div>
</body>
</html>